header {
    background-color: black;
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}


header .menu, .close{
    display: none;
}

header nav {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}
header nav a{
    color: white;
    text-decoration: none;
    transition: .3s;
}
header nav a:hover{
    color: orange;
}
header nav li{
    list-style: none;
}
header nav li ul{
    width: 350px;
    position: fixed;
    background-color: #D9D9D9;
    top: 9%;
    right: 12%;
    padding: 20px;
    line-height: 2.3rem;
}
header nav li ul li{
    list-style: none;
}
header nav li ul li a{
    color: black;
    transition: .2s;
}
header nav li ul li a:hover{
    color: #0900FF;
}


/* Responsive */
@media(max-width: 500px){
    header nav{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        flex-direction: column;
        gap: 2.5rem;
        right: -100%;
        z-index: 10;
    }
    header .nav-open{
        right: 0;
    }
    header nav a{
        color: black;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(65, 65, 65, 0.852);
    }
    header nav .close{
        display: block;
        position: absolute;
        top: 40px;
        right: 40px;
        font-size: 20px;
        font-weight: 600;
        border: 2px solid rgba(0, 0, 0, 0.586);
        padding: 2px 12px 3px;
        border-radius: 20px;
        transition: .3s;
    }
    header .menu{
        display: block;
        color: white;
        font-size: 32px;
    }
    header nav li{
        text-align: center;
        width: 100%;
    }
    header nav li ul{
        position: relative;
        top: 0;
        right: 0;
        text-align: center;
        width: 100%;
        
    }
    header nav li ul a{
        border-bottom: 1px solid rgb(123, 123, 123);
    }
}