.editorial{
background-image: url("../../../assets/Editorial/fondo.png");
background-position: center;
background-repeat: no-repeat;
height: 91vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.editorial div{
    width: 20%;
    position: relative;
    left: 130px;
}
.editorial div h1{
    width: 550px;
    color: #8096AE;
    font-size: 80px;
    font-weight: 800;
}
.editorial div p{
    font-size: 19px;
}




/* Editorial 2 */
.editorial2 {
    background-image: url("../../../assets/Editorial/fondo2.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 91vh;
}
.editorial2 h1{
    background-color: #3D43E9;
    width: 400px;
    text-align: center;
    color: white;
    font-weight: 700;
    padding: 10px 0;
    border-radius: 3px;
    margin-bottom: 50px;
}
.editorial2 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    gap: 6rem;
}
.editorial2 .container img{
    display: block;
    width: 400px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}
.editorial2 .container h2{
    font-weight: 600;
    margin-bottom: 5px;
}
.editorial2 .container p{
    font-size: 17px;
    margin: 0 0 20px;
}



/* Editorial 3 */
.editorial3 {
    height: 91vh;
}
.editorial3 div img{
    width: 100%;
}
.editorial3 .caja1{
    position: absolute;
    top: 6%;
    left: 15%;
    width: 500px;
}
.editorial3 .caja2{
    position: absolute;
    bottom: 40px;
    left: 15%;
    width: 500px;
}
.editorial3 .caja3{
    position: absolute;
    width: 350px;
    bottom: 110px;
    left: 44%;
    border: 1px solid black;
    padding: 10px;
}
.editorial3 .caja3 h3{
    font-weight: 560;
    font-size: 15px;
    margin: 5px 0;
}
.editorial3 .caja3 p{
    font-size: 14px;
}
.editorial3 .caja4{
    position: absolute;
    top: 6%;
    right: 30%;
    width:500px;
}
.editorial3 .caja5{
    width: 600px;
    position: absolute;

    bottom: 0;
    right: 0;
    z-index: -10;
}




/* Editorial 4 */
.editorial4{
    height: 90vh;
    width: 100%;
    background-image: url("../../../assets/Editorial/fondo3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.editorial4 h1{
    background-color: #826768;
    width: 740px;
    font-weight: 500;
    text-align: center;
    color: white;
    padding: 20px;
    margin-bottom: 50px;
}
.editorial4 .e3Container{
    display: flex;
    justify-content: space-around;
    width: 89%;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    gap: 4rem;
}
.editorial4 .e3Container .info{
    width: 500px;
}
.editorial4 .e3Container .info h2{
    padding: 10px 0;
}
.editorial4 .e3Container .img{
    display: flex;
    gap: 2rem
}
.editorial4 .e3Container .img img{
    width: 220px;
}



/* Editorial5 */
.editorial5{
    background-image: url("../imagenes/editorial/fondo4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 90vh;
}
.editorial5 .info{
    width: 470px;
    position: relative;
    top: 60px;
}
.editorial5 .info img{
    width: 300px;
    display: block;
    margin: 0 auto;
}
.editorial5 .info p{
    font-size: 16px;
    padding: 30px 0;
}
.editorial5 .img{
    width: 800px;
}
.editorial5 .img .img1{
    width: 400px;
    border: 1px solid black;
}
.editorial5 .img .img2{
    width: 500px;
    position: relative;
    top: 10px;
    left: 300px;
    bottom: 0;
    border: 1px solid black;
}












/* Mobile */
.editorialM{
    background-image: url("../../../assets/Editorial/fondoM.svg");
    background-size: contain;
    background-position: center;
    min-height: 91dvh;       /* navegadores modernos */

}
.editorialM div{
    width: 75%;
    margin: 0 auto;
    position: relative;
    top: 120px;
}
.editorialM div h1{
    font-size: 35px;
    color: #8096AE;
}
.editorialM div p{
    font-size: 15px;
}

/* ************** */
.editorialM2 {
    background-image: url("../../../assets/Editorial/fondoM2.svg");
    background-size: contain;
    background-position: center;
    height: 91dvh;
    padding-top: 30px;
}
.editorialM2 div{
    width: 80%;
    margin: 0 auto;
}
.editorialM2 div h2{
    background-color: #3D43E9;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 30px 0;
}
.editorialM2 div p{
    margin-bottom: 10px;
}
.editorialM2 div img{
    width: 85%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.441);
    border-radius: 5px;
}



/* ************* */
.editorialM3 {
    background-image: url("../../../assets/Editorial/fondoM3.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 91dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.editorialM3 div{
    width: 80%;
    margin: 0 auto;
}
.editorialM3 div p{
    font-size: 18px;
}




/* ***************** */
.editorialM4{
    padding: 30px 0;
    height: 91dvh;
}
.editorialM4 div {
    width: 90%;
    margin: 0 auto;
}
.editorialM4 div img{
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}




/* ****************** */
.editorialM5 {
    height: 91dvh;
    background-image: url("../../../assets/Editorial/fondoM4.svg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.editorialM5 div {
    width: 80%;
    margin: 0 auto;
    padding: 5px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.editorialM5 div h3{
    font-size: 14px;
    font-weight: 500;
}
.editorialM5 div p{
    font-size: 14px;
}
.editorialM5 img{
    position: absolute;
    width: 250px;
    bottom: 0;
    right: 0;
    z-index: 10;
}



/* ************ */
.editorialM6 {
    height: 91dvh;
    padding-top: 100px;    
}
.editorialM6 h1{
    background-color: #826768;
    color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.editorialM6 .container div{
    width: 80%;
    margin: 0 auto;
}
.editorialM6 .container div h2{
    font-weight: 500;
    font-size: 20px;
    margin: 25px 0 5px;
}
.editorialM6 .container div p{
    font-size: 15px;
}



/* ************** */
.editorialM7 {
    height: 91dvh;
}
.editorialM7 .img{
    width: 120px;
    position: absolute;
    top: 15%;
    left: 10%;
}
.editorialM7 .img2{
    width: 120px;
    position: absolute;
    top: 15%;
    right: 10%;
}
.editorialM7 .img3{
    width: 120px;
    position: absolute;
    bottom: 20%;
    left: 35%;
}



/* **************** */
.editorialM8 {
    height: 91dvh; 
    padding-top: 80px;   
}
.editorialM8 h1{
    background-color: #E3E3E3;
    color: #B94B4F;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
.editorialM8 div{
    width: 80%;
    margin: 0 auto;
}
.editorialM8 div h2{
    font-weight: 500;
    font-size: 20px;
    margin: 25px 0 5px;
}
.editorialM8 div p{
    font-size: 16px;
}

/* ******************* */
.editorialM9{
    display: flex;
    height: 91dvh;
    flex-direction: column;
    justify-content: center;
}
.editorialM9 div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.editorialM9 div img{
    width: 240px;
    display: block;
    margin: 0 auto;
    border: 1px solid rgba(128, 128, 128, 0.524);
}